$iconSpritePath: "../img/glyphicons-halflings.png";
$iconWhiteSpritePath: "../img/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

body {
    padding: 40px 0 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 400px;
}

.navbar-fixed-top {
    z-index: 99999999;
}

.testcase-form {
    .add-cookie {
        margin: 0 0 20px;
    }
    .remove-cookie {
        position: relative;
        left: 50px;
    }
    .cookieControlsFirst {
        float: left;
        margin-left: 20px;
    }
    .cookieControls {
        float: left;
        margin: 0;
        position: relative;
        left: 20px;
    }
    .resolutionInput {
        input {
            width: 70px;
            float: left;

            &.width {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                margin-left: 0;
                text-align: right;
            }

            &.height {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin-left: 0;
                text-align: left;
            }    
        }

        span {
            background-color: white;
            border: 1px solid #cccccc;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
            -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
            -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
            border-left: 0;
            border-right: 0;
            padding: 4px 5px;
            float: left;
            color: #bbbbbb;
        }
        small {
            margin: 6px 0 0;
            display: block;
            float: left;
        }
    }
    .cookieLabel {
        float: left;
        width: 100px;
    }
    .page-header {
        margin-top:80px;
    }
    .add-task {
        margin-bottom: 20px;
    }

    .testcaseList {
        .createedit {
            padding: 30px 12px;
        }
        select {
            width:130px;
        }
        .targetElem {
            position:relative;
            right: 3px;
        }
        .taskform {
            padding: 30px 0;
        }
        .cancel {
            margin: 0 10px 0 0;
        }
        small {
            font-size: 10px;
        }
        .ui-sortable-helper {
            border: 1px solid #dddddd;
            border-radius: 4px;
        }
    }
}

.requiredLabel {
    display: block;
    margin: 20px 0 0;
}

.testcaseList {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;

    >li {
        border: 1px solid #dddddd;
        padding: 8px 12px;
        line-height: 20px;
        border-bottom: 0;

        &:first-child {
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        &:last-child {
            border-bottom: 1px solid #dddddd;
            -webkit-border-bottom-left-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        span {
            float: right;
            color: #777777;
        }
        em {
            margin: 0 0 0 10px;
        }

        .details {
            border-top: #dddddd 1px solid;
            margin-top: 20px;
            display: none;

            .dl-horizontal {
                margin: 5px 0;
            }
        }
    }

}

.evaluate {
    margin: 20px 0 0;
}

.widget {
    margin: 10px 0;

    h3 {
        background-color: #1b1b1b;
        background-image: -moz-linear-gradient(top, #222222, #111111);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
        background-image: -webkit-linear-gradient(top, #222222, #111111);
        background-image: -o-linear-gradient(top, #222222, #111111);
        background-image: linear-gradient(to bottom, #222222, #111111);
        background-repeat: repeat-x;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: 0;
        padding: 0 20px;
        font-size: 14px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: #999999;
    }

    .content {
        border: 1px solid #888;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        &.nocontent {
            padding: 20px;
        }

        nav {
            width: 96%;
            padding: 5px 19px;
            background: #BBB;
            border-bottom: #1b1b1b 1px solid;
            position: relative;
        }

        .dropdown-menu {
            z-index: 9999999999;
        }
    }
}

.geoData {
    .content {
        overflow: hidden;

        .chart {
            float: left;
            padding: 10px;

            &.barchart {
                width: 33%;
            }
            &.map {
                width: 62%;
            }
        }
    }
}

.results {
    .content {
        overflow: hidden;

        >dl, >div {
            float: left;
            width: 50%;
        }
    }
}

.heatmap {

    .content {
        position: relative;
        padding-bottom: 10px;

        canvas {
            position: absolute;
            left: 0;
            top: 41px!important;
        }

        .clear {
            display: none;
        }
    }
}

.walkPaths {

    .content {
        position: relative;
        padding-bottom: 10px;
    }

}