$iconSpritePath: "../img/glyphicons-halflings.png";
$iconWhiteSpritePath: "../img/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

body {
    padding: 40px 0 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 400px;
}

.testcase-form {
    .add-cookie {
        margin: 0 0 20px;
    }
    .remove-cookie {
        position: relative;
        left: 50px;
    }
    .cookieControlsFirst {
        float: left;
        margin-left: 20px;
    }
    .cookieControls {
        float: left;
        margin: 0;
        position: relative;
        left: 20px;
    }
    .cookieLabel {
        float: left;
        width: 100px;
    }
    .page-header {
        margin-top:80px;
    }
    .add-task {
        margin-bottom: 20px;
    }

    .testcaseList {
        .createedit {
            padding: 30px 12px;
        }
        select {
            width:130px;
        }
        .targetElem {
            position:relative;
            right: 3px;
        }
        .taskform {
            padding: 30px 0;
        }
        .cancel {
            margin: 0 10px 0 0;
        }
        small {
            font-size: 10px;
        }
        .ui-sortable-helper {
            border: 1px solid #dddddd;
            border-radius: 4px;
        }
    }
}

.requiredLabel {
    display: block;
    margin: 20px 0 0;
}

.testcaseList {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;

    >li {
        border: 1px solid #dddddd;
        padding: 8px 12px;
        line-height: 20px;
        border-bottom: 0;

        &:first-child {
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        &:last-child {
            border-bottom: 1px solid #dddddd;
            -webkit-border-bottom-left-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        span {
            float: right;
            color: #777777;
        }
        em {
            margin: 0 0 0 10px;
        }

        .details {
            border-top: #dddddd 1px solid;
            margin-top: 20px;
            display: none;

            .dl-horizontal {
                margin: 5px 0;
            }
        }
    }

}